[Unit]
Description=Minecraft world rotation
After=minecraftd@.service

[Service]
ExecStart=/usr/bin/minecraft-worldrotate.sh %I
Type=simple
StandardOutput=journal

[Install]
WantedBy=multi-user.target
